<!-- components/toast.html -->
<div id="toast-overlay" class="toast-overlay">
    <div class="toast-modal">
        <header class="toast-header">
            <span class="toast-title">Cadastro de produto</span>
            <button id="toast-close-btn" class="toast-close-btn">&times;</button>
        </header>
        <main class="toast-content">
            <h1>Atenção!</h1>
            <p>Após o cadastro, o produto encontrado deve ser encaminhado para a portaria para aguardar a devolução</p>
        </main>
        <footer class="toast-footer">
            <button id="toast-action-btn" class="btn-toast-action">Entregue</button>
        </footer>
    </div>
</div>